<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.sys.mapper.ScheduleJobMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.sys.dto.ScheduleJob">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="job_status" property="jobStatus" jdbcType="VARCHAR"/>
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR"/>
        <result column="concurrent" property="concurrent" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="job_group" property="jobGroup" jdbcType="VARCHAR"/>
        <result column="target_object" property="targetObject" jdbcType="VARCHAR"/>
        <result column="target_method" property="targetMethod" jdbcType="VARCHAR"/>
        <result column="is_spring_bean" property="isSpringBean" jdbcType="VARCHAR"/>
        <result column="clazz" property="clazz" jdbcType="VARCHAR"/>
        <result column="child_jobs" property="childJobs" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, job_name, job_status, cron_expression, concurrent, description, job_group, target_object, target_method, is_spring_bean, clazz, child_jobs
    </sql>

    <select id="getAllScheduleJobs" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from quartz_schedulejob
    </select>

    <select id="selectScheduleJob" resultMap="BaseResultMap" parameterType="com.hand.hls.sys.dto.ScheduleJob">
        select
        <include refid="Base_Column_List"/>
        from quartz_schedulejob t
        <where>
            <if test="id != null">
                t.id = #{id}
            </if>
            <if test="jobName != null">
                t.job_name = #{jobName}
            </if>
        </where>
    </select>
</mapper>